<dl id="project-list">
<% @projects.each do |project| %>
  <dt class="project project-<%= project.id %> <% if project.project_detail %>clickable<% end %>">
    <span class="number"><%= project.number %></span>
    <span class="title"><%= project.title %></span>
  </dt>
    <% if project.project_detail %>
  <dd class="details project-<%= project.id %>">
    <% if project.project_detail.description %>
      <p class="description"><%= project.project_detail.description %></p>
    <% end %>
    <% if project.project_detail.link && project.project_detail.link_name %>
      <p class="link"><a href="<%=project_detail.link %>"><%= project.project_detail.link_name %></a></p>
    <% end %>
  </dd>
  <% end %>
<% end %>
</dl>