<dl id="project-list">
<% @projects.each do |project| %>
  <dt class="project project-<%= project.id %><% if project.project_detail %> underline clickable<% end %><% project.categories.each do |cat| %> category-<%= cat.name.downcase %><% end%>">
    <span class="number"><%= project.number %></span>
    <span class="title"><%= project.title %></span>
  </dt>
  <% if project.project_detail %>
  <dd class="details project-<%= project.id %>">
    <p class="description"><%= project.project_detail.description %></p>
    <% if project.project_detail.link && project.project_detail.link_name %>
      <%= link_to project.project_detail.link_name, project.project_detail.link %>
    <% end %>
    <% if project.project_detail.link2 && project.project_detail.link2_name %>
       | <%= link_to project.project_detail.link2_name, project.project_detail.link2 %>
    <% end %>
  </dd>
  <% end %>
<% end %>
</dl>