<!DOCTYPE html>
<html>
<head>
  <title>Christa Hartsock</title>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <footer class="row faded">
    <p class="column xsmall-12 large-9">Last updated today. <%= link_to "Site on Github", 'http://github.com/hartsick/minimal-portfolio' %></p>
  </footer>
</body>
</html>
